@import '../../style/config/variables';

.home-hero {
    background: linear-gradient(135deg, $c-first 0%, $c-secondary 100%);
    padding: 10rem 0 7rem;


    .container {
        color: $c-gray-100;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        .home-hero-buttons {
            display: flex;
            align-items: center;
            gap: 1rem;

            .btn-primary {
                background-color: $c-gray-100;
                text-decoration: none;
                color: $c-first;
                padding: 0.900rem;
                border-radius: 30px;
                font-weight: 600;
                display: inline-flex;
                gap: 0.5rem;
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
            }

            .btn-secondary {
                background-color: rgba(255, 255, 255, 0.464);
                border: 2px solid $c-gray-100;
                text-decoration: none;
                color: $c-gray-100;
                padding: 0.900rem;
                border-radius: 30px;
                font-weight: 600;
                display: inline-flex;
                gap: 0.5rem;
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
            }

            @media (max-width: 768px) {
                flex-direction: column;
            }
        }

        h1 {
            font-size: $h;
            margin-bottom: 1rem;
            font-weight: 700;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

            @media (max-width: 768px) {
                font-size: $h-mobile;
            }
        }

        p {
            font-size: $h5;
            margin-bottom: 2rem;
            opacity: 0.9;
            max-width: 600px;
            text-align: center;

        }
    }
}

.home-features {
    padding: 4rem 0;

    .container {
        margin: 0 auto;
        padding: 0 2rem;
        max-width: 1200px;

        .home-how-it-works-title {
            text-align: center;
            color: $c-gray-900;
            font-size: 2.5rem;
            margin-bottom: 3rem;
        }

        .home-home-features-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            ;
            gap: 2rem;
            margin-top: 3rem;

            .home-feature-card {
                background-color: $c-gray-100;
                border: 1px solid $c-gray-150;
                padding: 2rem;
                border-radius: 15px;

                .home-feature-icon {
                    text-align: center;
                    font-size: 3rem;
                    color: $c-first;
                }

                h3,
                p {
                    text-align: center;
                    margin-top: 1rem;
                }

                h3 {
                    font-size: 1.5rem;
                }

                p {
                    color: $c-gray-700;
                    line-height: 1.6;
                }
            }
        }
    }
}

.home-how-it-works {
    padding: 4rem;

    h2 {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }

    .home-home-steps {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        text-align: center;
        gap: 1rem;

        .home-step {

            h3 {
                margin-bottom: 1rem;
            }

            p {
                color: $c-gray-700;
            }

            .home-step-number {
                background-color: $c-first;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 3.75rem;
                height: 3.75rem;
                color: $c-gray-100;
                font-size: 1.5rem;
                font-weight: bold;
                margin: 0 auto 1rem;
            }
        }
    }
}

.home-footer {
    background-color: $c-gray-700;
    color: $c-gray-100;
    text-align: center;

    .container {
        .home-footer-content {
            padding: 3rem 2.5rem 0;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 2rem;
            margin-bottom: 2rem;

            h3 {
                color: $c-first;
                margin-bottom: 1rem;
            }

            a {
                display: inline-flex;
                align-items: center;
                gap: 0.5rem;
                color: $c-gray-200;
                text-decoration: none;
            }

        }

        .home-footer-bottom {
            padding: 1.5rem;
            border-top: 1px solid $c-gray-500;
        }
    }


}