@use '../../style/config/variables';
@use "../../style/config/colors";


.report-zones {

    .report-zone-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        border-bottom: 1px solid colors.$c-gray-150;

        h4 {
            color: colors.$c-gray-600;
        }

        span {
            font-size: 0.9rem;
            color: colors.$c-gray-400;
        }
    }

    .report-zone-table {
        border-radius: 12px;
        overflow-x: auto;
        border: 1px solid colors.$c-gray-150;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;

        thead {
            background-color: #f7f7fb;

            th {
                padding: .75rem 1rem;
                text-align: left;
                font-size: .72rem;
                font-weight: 700;
                color: colors.$c-gray-500;
                text-transform: uppercase;
                letter-spacing: .06em;
                white-space: nowrap;
            }
        }

        tbody tr{ 
            border-top: 1px solid colors.$c-gray-150;
        }   

        tr {

            td {
                color: colors.$c-gray-400;
                padding: .9rem 1rem;
                vertical-align: middle;
                font-size: .8rem;
            }

            .type-cell {
                color: colors.$c-gray-600;
                font-weight: 600;
                font-size: .87rem;
            }

            .desc-cell {
                max-width: 180px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            $niveis: (
                "Baixo": #d4af37,
                "Médio": #facc15,
                "Alto": #dc2626,

            );
                
            @each $nivel, $cor in $niveis {
                .severity-cell-#{$nivel} {
                    color: $cor;
                    font-weight: 600;
                    font-size: .87rem;
                    background-color: rgba($cor, 0.1);
                    padding: 0.2rem 0.5rem;
                    border-radius: 6px;
                }
            }

            .report-zone-actions {
                display: flex;
                gap: 0.5rem;

                button {
                    background: none;
                    padding: 0.3rem;
                    border: 1px solid colors.$c-gray-300;
                    cursor: pointer;
                    border-radius: 8px;
                    transition: background-color 0.3s ease;

                    &:hover {
                        background-color: colors.$c-gray-100;
                    }
                }
            }
        }

        // th, td {
        //     padding: 0.75rem;
        //     text-align: left;
        //     border-bottom: 1px solid $c-gray-150;
        // }
    }

    .report-zone-card {
        padding: 2rem;


    }
}