@import './config/variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Serif", serif;

    &:focus {
        outline: 0;
        box-shadow: 0 0 0 2px $c-first;
    }
}
