@use 'config/variables';
@use "config/colors";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    &:focus {
        outline: 0;
        box-shadow: 0 0 0 2px colors.$c-first;
    }
}

.form-span-message {
    color: colors.$c-red-100;
}

button {
    cursor: pointer;
}

input::placeholder {
    color: colors.$c-gray-300;
}

.div-input {
    position: relative;

    button {

        position: absolute;
        right: 4%;
        top: 55%;
        transform: translateY(-50%);
        cursor: pointer;
        background: none;
        border: none;
        
        svg {
            color: colors.$c-gray-300;
            font-size: 24px;
        }
    }
}

label {
    font-weight: 600;
}