@import '@/styles/global/variables';

.header-map-container {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-map-container-logo {
        display: flex;
        align-items: center;
        gap: 2rem;
        width: 100%;
        max-width: 900px;
    }

    .header-map-container-form {
        width: 100%;
        position: relative;

        input {
            position: relative;
            border: 1px solid $c-gray-300;
            border-radius: 30px;
            height: 2.75rem;;
            padding: 1rem;
            width: 100%;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            gap: 0.5rem;
            position: absolute;
            right: 0;
            top: 0;
            background-color: $c-first;
            color: $c-gray-100;
            border: 1px solid $c-gray-300;
            border-radius: 50px;
            height: 2.75rem;;
            width: 8.5rem;
        }
    }

    .header-map-container-user {
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $c-secundary;
            border: none;
            cursor: pointer;
            height: 2.75rem;
            width: 2.75rem;
            border-radius: 50%;

            svg {
                color: $c-first;
            }
        }
    }
}